{:paths ["src"]

 :deps {com.google.guava/guava {:mvn/version "30.1.1-jre"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojure/core.memoize {:mvn/version "1.0.236"}}
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Djdk.attach.allowAttachSelf"]}}}
